name: release

on:
  pull_request:
    paths:
      - '.changeset/**/*.md'

jobs:
  canary:
    name: canary
    runs-on: ubuntu-latest
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: Install Dependencies using Yarn
        run: yarn

      - name: Release Canary
        id: canary
        uses: 'kamilkisiela/release-canary@master'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          npm-token: ${{ secrets.NPM_TOKEN }}
          npm-script: 'yarn release:canary'
          changesets: true

      - name: Release Canary
        id: canary
        uses: 'the-guild-org/changesets-snapshot-action@main'
        with:
          tag: alpha
          prepareScript: 'yarn build'
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
