name: test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  node:
    name: node v${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18, 20, 22]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: the-guild-org/shared-config/setup@main
        name: setup env
        with:
          nodeVersion: ${{ matrix.node-version }}

      - name: Build Packages
        run: yarn build

      - name: Test
        run: yarn test

      - name: Node.js integrity check
        run: yarn bob check

      # - name: Test example ESM Build
      #   run: yarn workspace javascript-esm-example run build-client

      # - name: Test example CJS Build
      #   run: yarn workspace javascript-cjs-example run build-client
